.Rhistory
.Rproj.user
*.pdf
*.docx
*.Rproj
*.html
*.png
data/*.*
scenarios1.cfg
scenarios2.cfg
scenarios3.cfg
scenarios4.cfg
scenarios5.cfg
scenarios6.cfg
scenarios7.cfg
scenarios8.cfg
grpSpecMFVB.r
jags.R
mcelreath.R
mcelreath_allcode.R
outbr - Copy/*.*
outrar - Copy/*.*
rw_metrop_hastings1.R
rw_metrop_hastings2.R
rw_metrop_hastings3.R
book.bib
R/*.*
refs/*.*
avehtari.R
doc/
ex/
gibbs.R
glmm1.R
glmm_logistic.rds
glmm_logistic2.rds
glmm_logistic2.stan
outbr/*.*
outrar/*.*
rar.R
*.py
*.ipynb
*.log
BayesJAGSModel.txt








